.presentacion-contenedor{
    display: grid;
    place-content: center;
    text-align: center;
    .presentacion{
        background-color: rgba($color: #000000, $alpha: 0.7);
        width: 50rem;
        color: $blanco;
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
     
    }
   
}